<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test.dao.UserMapper">

	<select id="getUser" resultType="com.xiongyx.User">
		select * from test_user
		<!--<where>-->
			<!--<if test="idListQuery != null">-->
				<!--and id in-->
				<!--<foreach collection="idListQuery" index="index" item="item" open="(" separator="," close=")">-->
					<!--#{item}-->
				<!--</foreach>-->
			<!--</if>-->

			<!--<if test="idListQuery != null">-->
				<!--and id in-->
				<!--<foreach collection="idListQuery" index="index" item="item" open="(" separator="," close=")">-->
					<!--#{item}-->
				<!--</foreach>-->
			<!--</if>-->

			<!--<if test="id != null">and id = #{id}</if>-->
			<!--<if test="age != null">and age = #{age}</if>-->
			<!--<if test="money != null">and money = #{money}</if>-->
		<!--</where>-->
	</select>



	<resultMap id="getUserLinkedQueryMap" type="com.xiongyx.User">
		<id column="id" property="id"/>
		<result column="userName" property="userName"/>
		<result column="age" property="age"/>
		<result column="money" property="money"/>

		<association property="account" javaType="com.xiongyx.Account">
			<id column="accountId" property="id"/>
			<result column="user_id" property="userId"/>
			<result column="password" property="password"/>
		</association>

		<collection property="bookList" ofType="com.xiongyx.Book">
			<id column="bookId" property="id"/>
			<result column="book_name" property="bookName"/>
			<result column="author_id" property="authorId"/>
			<result column="price" property="price"/>
			<result column="libraryId" property="libraryId"/>
			<association property="library" javaType="com.xiongyx.Library">
				<id column="libraryId" property="id"/>
				<result column="address" property="address"/>
			</association>
		</collection>
	</resultMap>


	<select id="getUserLinkedQuery" resultMap="getUserLinkedQueryMap">
		select
			test_user.id,
			userName,
			age,
			money,
			test_account.id as 'accountId',
			test_account.user_id,
			test_account.`password`,
			test_book.id as 'bookId',
			test_book.book_name,
			test_book.author_id,
			test_book.price,
			test_library.id as 'libraryId',
			test_library.address
 		from test_user
 		inner join test_book on test_user.id = test_book.author_id
 		inner join test_account on test_user.id = test_account.user_id
		inner join test_library on test_book.library_id = test_library.id
	</select>

	<update id="updateUser">
		update user
		<set>
			<if test="name != null">name = '张三2'</if>
		</set>
		where id = #{id}
	</update>
	
</mapper>